@{
	ViewData["Title"] = "Contact";
}

<div class="contact-container">
	<div class="background-image" id="background-image-4"></div>
	<h1 id="heading-3">Contact & About</h1>
	<div class="grid-container" id="grid-container-7">
          <div id="Contact-Block" class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-4" id="col-cont">
                    <div id="col-wrapper">
                        <h2 id="contact-heading">Contact Us</h2>
                        <hr class="yellow-line-4">
                        <p id="contact-paragraph">This website was written by Carter Fitzgerald<br>
                           To get in contact please email <a href="mailto:u3240494@uni.canberra.edu.au">Send Email</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" id="col-cont">
                    <div id="col-wrapper">
                        <h2 id="contact-heading">About Us</h2>
                        <hr class="yellow-line-4">
                        <p id="contact-paragraph">This website provides an introduction to Artificial Intelligence and was created as
                            partial fulfillment of the assessment requirements of Web Design and Programming at the
                            University of Canberra.<br>
                            This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design
                            techniques.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" id="col-cont">
                    <div id="col-wrapper">
                        <h2 id="contact-heading">Copyright</h2>
                        <hr class="yellow-line-4">
                        <p id="contact-paragraph">All images used in this website were downloaded from <a href="https://unsplash.com/">Unsplash</a><br>
                            The icons for the footer from <a href="https://fontawesome.com/">fontawesome.</a><br>
                            The Anton font used for headers from <a href="https://fonts.google.com/">Google Fonts</a><br>
                            The AI jobs dataset from <a href="https://ai-jobs.net/">Insights.</a><br>
                            The Python source from <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle</a><br>
                            The Python web based on PyScript from <a href="https://realpython.com/pyscript-python-in-browser/">Real Python</a>
                        </p>
                    </div>
                </div>
              </div>
          </div>
          
      </div>


</div>